@()
<style>
		.page-footer .page-footer-inner {
			color: white;
		}
		a:active, a:hover {
			outline: 0;
			text-decoration: underline;
		}
		div.page-footer-inner{
			width: 100%;
			text-align: center;
		}
		div.page-footer-inner a{
			color: white;
		}

</style>
<div class="page-footer">
	<div class="page-footer-inner">
		Authorized to <a href="http://www.gszy.edu.cn/" target="_blank">甘肃中医药大学</a>. Powered by <a href="http://www.yfbio.cn" target="_blank" >VGsoft Team，
		上海盈飞生物科技有限公司</a>. All rights reserved.
	</div>
	<div class="scroll-to-top" style="display: block;">
		<i class="icon-arrow-up"></i>
	</div>
</div>